[Desktop Entry]
Name=Fluxland
Comment=A Fluxbox-inspired Wayland compositor
Exec=fluxland
Type=Application
Categories=System;
Keywords=wayland;compositor;window manager;wlroots;fluxbox;
DesktopNames=fluxland
