###############################################################################
#
# name: Coffee dream
# made: TWINc
# date: 24-06-2007
# http://twinc.blogspot.com 
#
############################################################## FONTS ##########
					
menu.frame.font:						Arial-11
menu.title.font:						Arial-11:bold
toolbar.clock.font:						Arial-11:bold
toolbar.workspace.font:					Arial-11:bold
toolbar.iconbar.focused.font:			Arial-11:bold
toolbar.iconbar.unfocused.font:			Arial-11
window.font:							Arial-11:bold

############################################################## MENU ###########

menu.bevelWidth:						0

menu.itemHeight:						17
menu.titleHeight:						21

menu.borderColor:						#c0baa7
menu.borderWidth:						1

menu.bullet.position:					Right
menu.bullet:							empty

menu.submenu.pixmap:					bullet.xpm		
menu.hilite.submenu.pixmap:			

menu.selected.pixmap:					select.xpm
menu.hilite.selected.pixmap:				

menu.unselected.pixmap:					
menu.hilite.unselected.pixmap:			

menu.title:								flat
menu.title.pixmap:						focus.xpm
menu.title.justify:						center
menu.title.color:						#
menu.title.colorTo:						#
menu.title.textColor:					#6e6e6b

menu.frame:								flat gradient vertical 
menu.frame.pixmap:			
menu.frame.justify:						left
menu.frame.color:						#edeae2
menu.frame.colorTo:						#d2cfc4
menu.frame.textColor:					#6e6e6b
menu.frame.disableColor:				#a6a7a9

menu.hilite:							flat
menu.hilite.pixmap:				        highlight.xpm 	
menu.hilite.color:						#e4e1d8
menu.hilite.colorTo:					#d2cfc4
menu.hilite.textColor:					#6e6e6b

############################################################## TOOLBAR ########

toolbar.bevelWidth:						0

toolbar.borderWidth:					1
toolbar.borderColor:					#c0baa7

toolbar.height:							21

toolbar.justify:						center

toolbar:								flat
toolbar.pixmap:							unfocus.xpm
toolbar.color:							#
toolbar.colorTo:						#

toolbar.clock.borderWidth:	1
toolbar.clock.borderColor:	#c0baa7
toolbar.clock:							flat
toolbar.clock.pixmap:					unfocus.xpm
toolbar.clock.justify:					center
toolbar.clock.color:					#
toolbar.clock.colorTo:					#
toolbar.clock.textColor:				#6e6e6b

toolbar.workspace.borderWidth:	1
toolbar.workspace.borderColor:	#c0baa7
toolbar.workspace:						flat
toolbar.workspace.pixmap:				unfocus.xpm
toolbar.workspace.justify:				Center
toolbar.workspace.color:				#
toolbar.workspace.colorTo:				#
toolbar.workspace.textColor:			#6e6e6b

toolbar.button:							flat 
toolbar.button.pixmap:					 focus.xpm
toolbar.button.color:					#
toolbar.button.colorTo:					#
toolbar.button.picColor:				#6e6e6b
toolbar.button.pressed:					flat
toolbar.button.pressed.pixmap:			unfocus.xpm
toolbar.button.pressed.color:			#
toolbar.button.pressed.colorTo:			#
toolbar.button.pressed.picColor:		#000000


toolbar.iconbar.empty.borderWidth:	1
toolbar.iconbar.empty.borderColor:	#c0baa7
toolbar.iconbar.empty:					flat
toolbar.iconbar.empty.pixmap:			unfocus.xpm
toolbar.iconbar.empty.color:			#
toolbar.iconbar.empty.colorTo:			#

toolbar.iconbar.focused.borderWidth:	1
toolbar.iconbar.focused.borderColor:	#c0baa7
toolbar.iconbar.focused:				flat
toolbar.iconbar.focused.pixmap:			focus.xpm
toolbar.iconbar.focused.color:			#
toolbar.iconbar.focused.colorTo:		#
toolbar.iconbar.focused.textColor:		#6e6e6b
toolbar.iconbar.focused.justify:		center

toolbar.iconbar.unfocused.borderWidth:	1
toolbar.iconbar.unfocused.borderColor:	#c0baa7
toolbar.iconbar.unfocused:				flat
toolbar.iconbar.unfocused.pixmap:		unfocus.xpm
toolbar.iconbar.unfocused.color:		#
toolbar.iconbar.unfocused.colorTo:		#
toolbar.iconbar.unfocused.textColor:	#6e6e6b
toolbar.iconbar.unfocused.justify:		center

############################################################## WINDOW #########

window.bevelWidth:						0
window.shade:							false
window.borderWidth:						1
window.borderColor:						#c0baa7

window.justify:							Left

window.title.height:					21

window.title.focus:						flat
window.title.focus.pixmap:				focus.xpm
window.title.focus.color:				#
window.title.focus.colorTo:				#
window.title.unfocus:					flat
window.title.unfocus.pixmap:			unfocus.xpm
window.title.unfocus.color:				#
window.title.unfocus.colorTo:			#

window.label.focus:						flat
window.label.focus.pixmap:				focus.xpm
window.label.focus.color:				#
window.label.focus.colorTo:				#
window.label.focus.textColor:			#6e6e6b
window.label.unfocus:					flat
window.label.unfocus.pixmap:			unfocus.xpm
window.label.unfocus.color:				#
window.label.unfocus.colorTo:			#
window.label.unfocus.textColor:			#6e6e6b

window.button.focus:					flat
window.button.focus.color:      		#
window.button.focus.colorTo:      		#
window.button.focus.picColor:			#
window.button.unfocus:					flat
window.button.unfocus.Color:			#
window.button.unfocus.ColorTo:			#
window.button.unfocus.picColor:			#
window.button.pressed:					flat
window.button.pressed.color:			#
window.button.pressed.colorTo:			#
window.button.pressed.picColor:			#

window.close.pixmap:					close.xpm
window.close.unfocus.pixmap:			unfocus.xpm
window.close.pressed.pixmap:			close.xpm

window.iconify.pixmap:					min.xpm
window.iconify.unfocus.pixmap:			unfocus.xpm
window.iconify.pressed.pixmap:			min.xpm

window.maximize.pixmap:					max.xpm
window.maximize.unfocus.pixmap:			unfocus.xpm
window.maximize.pressed.pixmap:			max.xpm

window.handle.focus:					flat
window.handle.focus.pixmap:				focus.xpm
window.handle.focus.color:				#
window.handle.focus.colorTo:			#
window.handle.unfocus:					flat
window.handle.unfocus.pixmap:			unfocus.xpm
window.handle.unfocus.color:			#
window.handle.unfocus.colorTo:			#
window.handleWidth:						0

window.grip.focus:						flat
window.grip.focus.pixmap:				focus.xpm
window.grip.focus.color:				#
window.grip.focus.colorTo:				#
window.grip.unfocus:					flat
window.grip.unfocus.pixmap:				unfocus.xpm
window.grip.unfocus.color:				#
window.grip.unfocus.colorTo:			#

###############################################################################
# EOF
